<ion-header>
  <ion-toolbar class="verde">
    <ion-title>¡Bienvenid@!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="/assets/images/login.svg"></ion-img>


  <ion-item class="ion-margin-top">
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="modelousuario"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="modelocontrasena"></ion-input>
  </ion-item>

  <ion-button (click)="validarcredenciales()" class="ion-margin-top verde" 
  expand="block">Ingresar</ion-button>

  <ion-button (click)="validarcredenciales()" class="ion-margin-top blanco" 
  expand="block" fill="otline">Nuevo usuario</ion-button>


</ion-content>
